'name': 'TESTMD'
'scopeName': 'source.testmd'
'fileTypes': [
    'testmd'
]

'patterns': [
  {
    'match': '^(title)(\\s+)(.*)$'
    'captures':
      '1':
        'name': 'meta.name.tag.testmd'
      '2':
        'name': 'punctuation.definition.tag.testmd'
      '3':
        'name': 'comment.line.tag.testmd'
  }
  {
    'match': '^(note)(\\s+)(.*)$'
    'captures':
      '1':
        'name': 'meta.name.tag.testmd'
      '2':
        'name': 'punctuation.definition.tag.testmd'
      '3':
        'name': 'comment.line.tag.testmd'
  }
  {
    'match': '^(open)(\\s+)(.*)$'
    'captures':
      '1':
        'name': 'support.class.tag.testmd'
      '2':
        'name': 'punctuation.definition.tag.testmd'
      '3':
        'name': 'string.quoted.double.tag.testmd'
  }
  {
    'match': '^(find)(\\s+)(field|button)(\\s+)(.*)$'
    'captures':
      '1':
        'name': 'support.function.tag.testmd'
      '2':
        'name': 'punctuation.definition.tag.testmd'
      '3':
        'name': 'support.constant.tag.testmd'
      '4':
        'name': 'punctuation.definition.tag.testmd'
      '5':
        'name': 'string.quoted.double.tag.testmd'
  }
  {
    'set': '^(set)(\\s+)(\\b+)(=)(.*)$'
    'captures':
      '1':
        'name': 'variable.tag.testmd'
      '3':
        'name': 'string.quoted.double.tag.testmd'
      '2':
        'name': 'punctuation.definition.tag.testmd'
      '3':
        'name': 'string.quoted.double.tag.testmd'
  }


]
